.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerText {
  text-align : center;
}

ul{
  list-style:none;
}

li{
  list-style:none;
}

.oneMemo {
  text-align : right;
  background: white;
  width: 80%;
  height : 31em;
  margin-left: 10%; margin-right: 10%;
  box-shadow: 0px 0px 15px 5px gray;
  border-radius: 5px;
}

.oneMemoTitle {
  box-sizing:border-box;
  text-align : left;
  width : 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.oneMemoContent {
  box-sizing:border-box;
  text-align : left;
  width : 100%;
  height : 26em;
  padding-top: 10px;
  padding-left: 10px;
  border: none;
  resize: none;
}

.oneMemoContent:focus {
  outline:none;
}

.oneMemoSaveButton {
  margin-bottom : 0px;
  margin-right : 5px;
}


.briefMemo {
  text-align : center;
  background: white;
  float : left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: table;
  box-shadow: 0px 0px 15px 5px gray;
  width : 40%;
  height : 10em;
  border-radius: 5px;
  overflow: hidden;
}

.manyMemoTitle{
  text-align : left;
  width : 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.manyMemoContent{
  text-align : left;
  width : 100%;
  height :40%;
  padding: 0;
  border-width: 0;
  border: none;
  resize: none;
}

.manyMemoContent:focus{
  outline:none;
}
.manyMemoContent::-webkit-scrollbar{
  display: none;
}


input:focus {outline:none;}

input {
  background-color:transparent;
  border:0 solid black;

}

a {
  color: inherit;
  text-decoration: none;
}

.memosNavBar{
  background-color : black;
  padding-top : 1em;
  padding-bottom : 1em;
  padding-left : 1em;
  margin-bottom : 1em;
}

.folderSelect{
  color: white;
  padding : 1em 1em 1em 1em;
}

.folderSelect:Hover{
  background-color : gray;
}

.filesInfo{
  width: 100%;
}

.fileTable{
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

th{
  padding : 0.5em 0.5em 0.5em 0.5em;
  border-bottom: 1px solid #444444;
}

td{
  background-color : white;
  padding : 0.5em 0.5em 0.5em 0.5em;
  border-bottom: 1px solid #444444;

}

.wrapper{
  width:100%;

}

.currentPath{
  padding-bottom: 1em;
  display: inline-block;
  width: 75%;
}

.newFolder{
  text-align: center;
  padding-bottom: 1em;
  float: right;
  width: 8%;
}

#newFolderButton{
  background: white;
}

#newFolderButton:focus {
  outline:none;
}
#newFolderButton:active{
  background: lightgray;
}


.fileNametd{
  width: 50%;
  text-align : left;
}
.fileNametd:hover{
  cursor: pointer;
  text-decoration:underline;
}
.fileModificationDate{
  width: 10%;
  text-align : left;
}

.fileSize{
  width: 7%;
  text-align : left;
}

.fileDelete{
  width: 5%;
}
.fileDelete:hover{
  cursor: pointer;
  text-decoration:underline;
}

.fileOpen{
  width: 5%;
}
.fileOpen:hover{
  cursor: pointer;
  text-decoration:underline;
}

.navBar{
  background-color : black;
  padding-top : 1em;
  padding-bottom : 1em;
  padding-left : 1em;
  margin-bottom : 1em;
}

.navBarMenu{
  color: white;
  padding : 1em 1em 1em 1em;
}

.navBarMenu:hover{
  background-color:gray;
}

.createMemo{
  position: fixed;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;


}
.createMemo:hover{
  box-shadow: 0px 0px 15px 5px lightgray;
}

.createMemo:active{
  background: lightgray;
}


.createMemo:focus{
  outline : none;
}

.createMemodiv{
  background: aqua;
  width: 100%;
  height: 100%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img{-webkit-user-drag: none;}


.oneAudioTitle {
  box-sizing:border-box;
  text-align : left;
  width : 100%;
  padding-top: 10px;
  padding-left: 10px;
}

.audioComponentsWrapper{
  text-align: center;
}

.audioWrapper{
  text-align: center;
}

audio {

}

.oneAudio {
  display: inline-block;
  text-align : left;
  background: white;
  width: 40%;
  height : 25em;

  box-shadow: 0px 0px 15px 5px gray;
  border-radius: 5px;
}

#saveTextButton{
  margin-right : 3%;
  width : 6%;
  height: 7%;
  background: white;
}

#saveTextButton:focus {
  outline:none;
}
#saveTextButton:active{
  background: lightgray;
}


#stopOrStartRecordingButton:hover{
  box-shadow: 0px 0px 15px 5px lightgray;
  border-radius: 50%;
}

#modificationDateandHistory{
  margin-right : 5%;
}
#modificationDateandHistory:hover{
  cursor: pointer;
  text-decoration:underline;
}
